
@backgroundcolor:var(--backgroundcolor);
@textcolor:var(--textcolor);
.layout{
  width: 100%;
  height: 100%;
  
  .sider {
    text-align: "center";
    background-color: @backgroundcolor;
  }
  
  .content {
    text-align: "center";
    background-color: @backgroundcolor;
    position: relative;
    padding-top: 24px;
    padding-right: 24px;
  }
}

