/* global.css */
/*
  主要用于存放less全局变量，如颜色、字体、动画、尺寸等
*/
:root {
  --primary-color: #ff0000;

  /* ScrollContainer */
  --ScrollContainer-height: 0px;
  --ScrollContainer-width: 0px;
}

:root {
  --backgroundcolor: #ffffff;
  --textcolor: #000000;
  --bordercolor:#0000003f ;
}

:root[theme="light"] {
  --backgroundcolor: #ffffff;
  --textcolor: #000000;
  --bordercolor: #0000003f;
}

:root[theme="dark"] {
  --backgroundcolor: #282332;
  --textcolor: #b8b6c0;
  --bordercolor: #ffffff1e;
}
